h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(252, 157, 15);
    text-shadow: 0.1em 0.01em 0.02em rgb(0, 0, 0);
}

p {
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ol {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color: rgb(252, 157, 15);
}

body { 
    background-color: rgb(36, 36, 63);
    
  
}

.borda {
    background-color: rgb(11, 12, 54);
    margin: 0px;
    padding: 10px;
    width: auto;
    box-shadow: 4px 4px 0px 0px rgb(82, 83, 102) ;

}

hr {
    margin: 0%;
}